body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: sans-serif;
    background-color: #fff;
}
section {
    width: 1290px;
    margin: 0 auto;
}
.hat {
    position: relative;
    height: 65px;
}
header {
    background: linear-gradient(to bottom, #edebec, #cecece);
}
p {
    font-size: 1em;
    font-family: sans-serif;
}
h3 {
    color: black;
}
.name {
    padding: 12px;
    font-size: 1.8rem;
    color: #ea4e1b;
    font-weight: bold;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
}
nav {
    font-family: Arial;
    user-select: none;
    position: absolute;
    top: 0;
    right: 0;
}
nav ul {
    margin: 0;
}
nav ul li {
    list-style: none;
    float: left;
    border-right: 1px solid #ccc;
}
nav ul li span {
    background-color: #ea4e1b;
    color: white;
}
nav ul li a {
    color: black;
}
nav ul li a, nav ul li span {
    text-decoration: none;
    padding: 20px;
    display: block;
}
nav a:hover {
    transition: 0.5s;
    background-color: #ea4e1b;
    color: white;
}
nav ul li:last-child {
    border-right: none;
}
aside {
    width: 445px;
    height: 4513px;
    margin-right: 45px;
    float: left;
}
aside span {
    color: rgb(179, 179, 179);
}
aside .ol_1 li {
    padding: 5px;
    list-style: none;
}
aside ol:last-child li {
    padding: 5px;
    font-size: 14px;
    margin-left: 10px;
    list-style-type: none;
    counter-increment: list;
}
aside ol:last-child li:before {
    content: counter(list) " ";
    margin-left: -15px;
}
aside ol:last-child a {
    color: #0645ad;
    padding-left: 5px;
}
aside .content {
    margin: 10px;
    width: 400px;
    border: 1px black solid;
    border-radius: 10px;
    position: sticky;
    top: 10px;
}
aside p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
aside li a {
    text-decoration: none;
    color: black;
}
aside li a:hover {
    color: rgb(50, 50, 50);
    font-weight: bold;
}
main {
    width: 800px;
    float: right;
}
main h1 {
    text-align: center;
    font-size: 1.75rem;
}
main h3 {
    font-size: 1.5rem;
    border-bottom: 1px gray solid;
    padding-bottom: 5px;
}
main b {
    color: rgb(85, 28, 28);
}
main span {
    color: black;
    font-weight: bold;
}
main p {
    text-indent: 20px;
}
main .arcctg {
    margin-bottom: -5px;
}
main figcaption {
    width: 630px;
    text-align: center;
    margin-bottom: 10px;
}
footer {
    background-color: #66656a;
    padding: 30px 0;
    line-height: 0.5;
    color: white;
    margin-top: 50px;
}